body {
    padding-top: 5rem;
} 

.check { 
    list-style-type: none; 
    background-color: #FF0000; 
    color: black;    
    padding: 10px; 
    border:solid #FF0033; 
    border-radius: 10px;
} 

.passed{  
    list-style-type: none;
    background-color: #33FFFF; 
    color: black;  
    padding: 10px; 
    border: solid #00FFFF 2px;
    border-radius: 10px;
}



